<ngx-spinner></ngx-spinner>
<table class="table table-clients">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of listClients">        
        <td>{{ client.firstName }}</td>
        <td>{{ client.lastName }}</td>
        <td>{{ client.age}}</td>
        <td>{{client.dateOfBirth | date }}</td>
      </tr>
    </tbody>
  </table>
